LOCALHOST=127.0.0.1
EXTERNALAPIURL=http://localhost:3001
PORT=3000

TOKEN_SECRET="c18af10babb8e1ce87db48721722968f9ab81cff92313a653817804fb525cc218bc39924ad5c53e995c8f9391bb1112559a46b37587f3b945ee012535cc76e5e"
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/bayarditempat?schema=public"

